# Yarn Berry (Zero Install)
.yarn/install-state.gz
# .yarn/unplugged 내의 node_modules 포함
!.yarn/unplugged/**/node_modules

# 빌드 폴더
dist/

# 환경설정 파일
.env*

# Cypress 테스트 폴더
cypress/videos/
cypress/screenshots/

# macOS
.DS_Store

# 로그
*.log*
log*






