doctype html
html
  head
    title oauth server
    meta(charset='utf-8' )
    meta(http-equiv='X-UA-Compatible', content='IE=9;IE=10;IE=11;IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel='stylesheet', href='/public/assets/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/style.css')
      
    // jQuery
    script(src='/public/js/jquery.js')

    
  body
    block content

    // auth/Login 
    script(src='/script/auth/login.js')
    // auth/Register
    script(src='/script/auth/register.js')
    // oauth/Register
    script(src='/script/oauth/register.js')
    // oauth.Login
    script(src='/script/oauth/login.js')