body {
  background: #f4f9fe;
  overflow-y: auto !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  overflow: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group > label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  display: block;
}

.form-control {
  width: 100%;
  height: 34px;
  margin: 0;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:
    border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

.btn-default {
  color: #333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

.breakpoint {
  display: inline;
}

/******************** 동의 페이지 ****************/
.agree-title {
  text-align: center;
}
.agree-listBox {
  text-align: center;
  border: 1px solid #333333;
  max-width: 640px;
  margin: 0 auto;
  height: 80px;
}
.agree-listBox ul {
  text-align: center;
}
.agree-listBox p {
  margin-top: 15px;
}
.agree-listBox ul li {
  line-height: 80px;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}
.agreeButton {
  font-size: 20px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #333333;
  outline: 0;
  width: 100px;
  height: 50px;
  font-weight: 700;
}
.agreeButton:hover {
  background-color: #eeeeee;
}
.noAgreeButton:hover {
  background-color: #eeeeee;
}
.noAgreeButton {
  font-weight: 700;
  font-size: 20px;
  width: 100px;
  height: 50px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #333333;
  outline: 0;
}
.agree-buttonBox {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
/********************* 메인 *********************/
.main-title h2 {
  margin-top: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
.main-button {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-button form {
  width: 165px;
  margin: 0 60px;
}
.main-alert {
  color: red;
  text-align: center;
}
.main-button form button {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: 0;
}
/***************** 인증 등록 페이지 ***************/

.oauth-header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infomationP {
  font-weight: 700;
}
.regIdlabel {
  display: block;
}
.regSecretlabel {
  display: block;
}
.regChatApiKeylabel {
  display: block;
}
#regInputClientId,
#regInputClientSecret,
#regInputChatApiKey {
  width: 60%;
  display: inline-block;
}
.regSmpChatManagerIdlabel {
  display: block;
}
#regInputSmpChatManagerId {
  width: 60%;
  display: inline-block;
}
#regListSmpChatManagerId {
  overflow-y: hidden;
  resize: none;
  white-space: nowrap;
  cursor: text;
}
.divSmpChatManagerList {
  width: 100%;
  display: inline-block;
  overflow-x: auto;
  cursor: default;
}

.divSmpChatManagerList::-webkit-scrollbar {
  width: 3px;
}
.divSmpChatManagerList::-webkit-scrollbar-track {
  background-color: transparent;
}
.divSmpChatManagerList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
.divSmpChatManagerList::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.checkBoxForm {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actionButton {
  width: calc(20% - 10px);
  margin-left: 10px;
}

.addButton {
  width: calc(20% - 10px);
  margin-left: 10px;
}
.reMoveButton {
  width: calc(20% - 10px);
  margin-left: 10px;
}

.checkBoxForm label {
  width: 45px;
  text-align: center;
  margin: 0 10% 0 10%;
}
.checkBoxForm label input {
  margin: 0 auto;
  width: 20px;
}
.oauth-regapp-div {
  max-width: 1024px;
  padding: 0px 10%;
  margin: 30px auto;
}
.oauth-logo-div {
  text-align: center;
  width: 20%;
}
.oauth-h1 {
  font-size: 50px;
  cursor: default;
  width: 60%;
  text-align: center;
}
.oauthReg-button {
  margin: 15px 0;
}
.oauth-logo-div .form-group p {
  font-weight: 700;
}
.oauth-button-div {
  text-align: center;
}
.oauth-button-div {
  text-align: center;
}
.oauth-button-div {
  text-align: center;
}
.logoutForm {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.oauth-logo-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 110px;
  cursor: pointer;
}
/********************** 로고 ***********************/
.logo-div {
  max-width: 486px;
  margin: 20px auto 0px auto;
}
.logo-div > a {
  width: 250px;
  display: flex;
  margin: 0 auto;
}
.login-button-div {
  text-align: center;
  margin: 15px 0;
}
.logo-image {
  height: 230px;
  margin: 5px auto 40px auto;
  display: block;
  cursor: pointer;
}
.login-button {
  display: inline-block;
  margin: 15px auto 30px auto;
  width: 100px;
}

.login-oauth-button {
  display: inline-block;
  margin: 1%;
}
/********************** 탑바 *****************************/
.top-bar {
  height: 100px;
  background: #0062b3;
  position: relative;
}
/********************* 탑바 로고 **************************/
.navbar-logo-image {
  height: 100%;
  cursor: pointer;
}
.logo-image-div {
  position: absolute;
  cursor: pointer;
  right: 50%;
  top: 50%;
  height: 100%;
  transform: translate(50%, -50%);
}
/********************** 메뉴 버튼 ******************/
#nav-mainTab {
  background: #0062b3;
  margin-top: -1px;
}
#nav-mainTab li {
  position: relative;
}
#nav-mainTab li a {
  color: #fff;
  margin-bottom: 5px;
}
.navbar-circle-alram {
  position: absolute;
  top: -16px;
  right: -4px;
  height: 56px;
}
.navbar-number-alram {
  position: absolute;
  right: 11px;
  top: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
/******************** 가로바 ********************/

#nav-mainTab li.active div {
  position: absolute;
  background: #ffb836;
  width: 100%;
  height: 6px;
  transform: translate(0, -6px);
}
#nav-mainTab li a:focus {
  background: none;
}
#nav-mainTab li a:hover {
  background: none;
}
#nav-mainTab li:hover div {
  position: absolute;
  background: #ffb836;
  width: 100%;
  height: 6px;
  transform: translate(0, -6px);
}
/********************** 로그아웃버튼 ***********************/
.logout-button {
  cursor: pointer;
}
.logout-button input {
  background: #ffb836;
  color: #fff;
  font-weight: 700;
}
/************ 로고 & 파비콘탭 ***************/
#logoTab div {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#logoTab div label {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#logoTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#logoTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#logoTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#logoTab div .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}

/************ 이미지탭 ***************/
#imageTab div {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#imageTab div label {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#imageTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#imageTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#imageTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
  max-width: 100px;
}
#imageTab div .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}

/************ 글내용탭 ***************/
/**** 메뉴 ****/
#contentTab .form-box {
  margin: 60px auto 15px auto;
  width: 88%;
  text-align: center;
}
#contentTab .form-box .form-group {
  width: 50%;
  display: inline-block;
}
#contentTab .form-box .form-group .btn {
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  color: #fff;
  background: #0062b3;
}
#contentTab .Input-box {
  width: 77%;
  display: inline-block;
}
#contentTab div label {
  margin-left: 4%;
  text-align: left;
  display: block;
}
/**** 타이틀 ***/
#contentTab .form-box .form-group .textAreaBtn {
  margin-bottom: 6%;
}
/************** 기타 탭 ***************/
#footerTab > .form-group {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#footerTab .footerLabel {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#footerTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#footerTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#footerTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#footerTab > .form-group > .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}
#footerTab > .form-box > .form-group > label {
  text-align: left;
  margin-left: 4%;
}

#footerTab .form-box {
  margin: 60px auto 15px auto;
  width: 88%;
  text-align: center;
}
#footerTab .form-box .form-group {
  width: 50%;
  display: inline-block;
}
#footerTab .form-box .form-group .btn {
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  color: #fff;
  background: #0062b3;
}
#footerTab .Input-box {
  width: 77%;
  display: inline-block;
}
#footerTab div label {
  display: block;
}
/**** 타이틀 ***/
#footerTab .form-box .form-group .textAreaBtn {
  margin-bottom: 6%;
}
/******************* 기능관리 탭 ********************/
#functionTab > .form-group {
  margin: 20px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#functionTab .functionLabel {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#functionTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#functionTab .functionP {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#functionTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#functionTab .radio-inline {
  margin: 0 0 3px 3% !important;
  display: inline-block;
  width: 13%;
  text-align: left;
}
#functionTab > .form-group > .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}
/**************** 채팅 기능 ***************/
#functionTab > .chat_form_group {
  height: 530px;
}
#functionTab > .form-group > .chatBox {
  height: 500px;
  width: 55%;
  background: #b0dbff;
  margin: 4% 0 5% 0;
  vertical-align: top;
  display: inline-block;
}
#functionTab > .form-group > .waitBox {
  height: 500px;
  width: 100%;
  background: #b0dbff;
  margin: 4% 0 5% 0;
  display: inline-block;
}
.waitBox > .waitTop {
  height: 50px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  background: #0062b3;
  margin: 10px 10px 0 10px;
}
.chatBox > .chatTop {
  height: 50px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  background: #0062b3;
  margin: 10px 10px 0 10px;
}

#functionTab > .form-group > .waitBox > .waitTop > .waitName {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.chatBox > .chatMiddle {
  line-height: 50px;
  background: #fff;
  overflow-y: auto;
  height: 350px;
  margin: 0px 10px 0 10px;
  clear: both;
}
.waitBox > .waitMiddle {
  line-height: 50px;
  background: #fff;
  overflow-y: auto;
  height: 350px;
  margin: 0px 10px 0 10px;
  clear: both;
}
.chatBox > .chatMiddle > .chatMe {
  margin: 1% 1% 2% 0;
  width: auto;
  max-width: 60%;
  text-align: justify;
  display: block;
  float: right;
  word-break: break-all;
  line-height: 1.7em;
  background: #0062b3;
  color: #fff;
  border-radius: 8px;
  padding: 3px 7px 3px 8px;
  clear: both;
}
.chatBox > .chatMiddle > .chatYou {
  margin: 0 0 2% 1%;
  width: auto;
  max-width: 60%;
  text-align: justify;
  display: block;
  float: left;
  word-break: break-all;
  line-height: 1.7em;
  background: #e2f0fc;
  color: #555;
  border-radius: 8px;
  padding: 3px 8px 3px 7px;
  clear: both;
}
.chatBox > .chatBottom {
  height: 80px;
  border-radius: 0 0 5px 5px;
  background: #0062b3;
  margin: 0px 10px 0 10px;
  position: relative;
}
#Input-chat {
  height: 60px;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
.Input-chat {
  height: 60px !important;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
#chatSendBtn {
  position: absolute;
  top: 50%;
  background: #ffb836;
  right: 10px;
  transform: translate(7px, -50%);
  color: #fff;
  font-weight: bold;
}
.chatSendBtn {
  position: absolute;
  top: 50%;
  background: #ffb836;
  right: 10px;
  transform: translate(7px, -50%);
  color: #fff;
  font-weight: bold;
}
.chatServerAlert {
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 2.1em;
  clear: both;
}
.waitList {
  background: #e2eefd;
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.waitUserList {
  color: #555;
  width: 65%;
  margin: 0 0 0 3%;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.waitConnect {
  display: inline-block;
  width: 14%;
  vertical-align: top;
  margin-top: 1%;
  padding: 3px 8px;
  background: #0062b3;
  color: #fff;
}
.waitDisconnect {
  display: inline-block;
  width: 14%;
  vertical-align: top;
  margin-top: 1%;
  padding: 3px 8px;
  background: #cc0600;
  color: #fff;
}
/************* qr코드 *************/
.form-group > .qrcodeBox {
  position: relative;
}
.form-group > .qrcodeBox > #qrcode img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/******************* 이미지 모달 ********************/
#viewImage_modal .modal-header {
  border-bottom: none;
}
#viewImage_modal .modal-footer {
  border-top: none;
}
#viewImage_modal .modal-body {
  height: 300px;
}
#viewImage_modal .modal-content {
  background-color: #f4f9fe;
}
#viewImage_modal .imgBox {
  width: 85%;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
#viewImage_modal #modalImg {
  max-width: 100%;
  max-height: 300px;
  min-height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
/************ 팝업 모달 **************/
#viewPopup_modal .modal-backdrop {
  background: none;
}
#viewPopup_modal .modal-dialog {
  width: 302px;
  margin: 30px 15px 15px 30px;
}
#viewPopup_modal .modal-body {
  padding: 0;
}
#viewPopup_modal .modal-header .close {
  margin-top: -8px;
}
#modalPopupImg {
  max-width: 300px;
  min-width: 300px;
  max-height: 400px;
  min-height: 400px;
}
/************ 채팅 모달 ***************/
.viewChatmodal {
  width: 380px;
  height: 530px;
  overflow-y: hidden !important;
}
.viewChatmodal .modal-dialog {
  width: 350px;
}
.viewChatmodal .chatTop {
  cursor: move;
}
.viewChatmodal .modal-content {
  background: #b0dbff;
  height: 500px;
}
.chatXbutton {
  opacity: 1;
}
.chatXSpan {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
}
.viewChatmodal
  > .modal-dialog
  > .modal-content
  > .chatBox
  > .chatTop
  > .chatName {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
/*************** 전체 타이틀 *****************/
.titleCss {
  height: 0 !important;
  margin: 30px auto 15px auto !important;
  width: 85% !important;
  position: none !important;
}
.titleCss h4 {
  display: inline-block;
  font-size: 16px;
  background: #ffb836;
  color: #fff;
  height: 25px;
  line-height: 27px;
  border-radius: 10px;
  width: 30%;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .oauth-h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .oauth-h1 {
    font-size: 2rem;
  }
  .oauth-logo-image {
    height: 130px;
  }
  .regForm {
    width: 40%;
    margin-right: 10%;
  }
  .loginForm {
    width: 40%;
    margin-left: 10%;
  }
  .main-title h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  /************ 어플 등록페이지 *************/
  .main-button form {
    width: 140px;
    margin: 0 40px;
  }
  .actionButton {
    padding: 6px 0;
  }
  .checkBoxForm label {
    width: 30%;
    margin: 0;
  }
  .oauth-h1 {
    width: 42%;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .oauth-logo-image {
    height: 100px;
  }
  /************ 메뉴 *************/
  .logout-button {
    font-size: 12px;
  }
  .logout-button input {
    font-size: 10px;
    padding: 3px 6px;
  }
  .top-bar {
    height: 50px;
  }
  #nav-mainTab li {
    float: left;
    width: 20%;
    margin-left: 0;
  }
  .regForm {
    width: 40%;
    margin-right: 10%;
  }
  .loginForm {
    width: 40%;
    margin-left: 10%;
  }
  .main-button form button {
    font-size: 18px;
    padding: 6px 0;
    min-width: 65px;
  }
  .main-title h2 {
    font-size: 28px;
  }
  /************ 메뉴 가로바 **************/
  #nav-mainTab li a {
    margin-bottom: 4px;
  }
  #nav-mainTab li.active div {
    height: 4px;
    transform: translate(0, -4px);
  }
  #nav-mainTab li a {
    padding: 10px 0;
    font-size: 12px;
  }

  /********** 로고 & 파비콘 ***********/
  #logoTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
  }
  #imageTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  /************ 글내용탭 ***************/
  #contentTab .form-box .form-group {
    width: 100%;
    display: block;
  }
  #contentTab .form-box .form-group .btn {
    margin-left: 4%;
    margin-right: 0%;
  }
  #contentTab .Input-box {
    width: 78%;
  }
  /*********** 푸터 탭 ***************/
  #footerTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  #footerTab .form-box .form-group {
    width: 100%;
    display: block;
  }
  #footerTab .form-box .form-group .btn {
    margin-left: 4%;
    margin-right: 0%;
  }
  #footerTab .Input-box {
    width: 78%;
  }
  /************* 기능관리 탭 ***************/
  #functionTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  #functionTab .radio-inline {
    margin: 0px -17% 5px 22% !important;
    display: inline-block;
    width: 27%;
    text-align: center;
  }

  /************ 이미지 모달 ************/
  #viewImage_modal .modal-body {
    height: 200px;
  }
  #viewImage_modal .imgBox {
    height: 200px;
  }
  #viewImage_modal #modalImg {
    max-height: 200px;
    min-height: 100px;
  }
  /********** 전체 타이틀 **********/
  .titleCss h4 {
    width: 100%;
  }
  .logo-div {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .breakpoint {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .oauth-regapp-div {
    padding: 0px 2%;
  }
}
