body {
  background: #f4f9fe;
  overflow-y: auto !important;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/******************** 동의 페이지 ****************/
.agree-title {
  text-align: center;
}
.agree-listBox {
  text-align: center;
  border: 1px solid #000;
  width: 68%;
  margin: 0 auto;
  height: 80px;
}
.agree-listBox ul {
  text-align: center;
}
.agree-listBox p {
  margin-top: 15px;
}
.agree-listBox ul li {
  line-height: 80px;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}
.agreeButton {
  top: 80px;
  left: 10%;
  position: absolute;
  font-size: 20px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #000;
  outline: 0;
  width: 100px;
  height: 50px;
  font-weight: 700;
}
.agreeButton:hover {
  background-color: #eee;
}
.noAgreeButton:hover {
  background-color: #eee;
}
.noAgreeButton {
  font-weight: 700;
  top: 80px;
  right: 10%;
  position: absolute;
  font-size: 20px;
  width: 100px;
  height: 50px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #000;
  outline: 0;
}
.agree-buttonBox {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
/********************* 메인 *********************/
.main-title h2 {
  margin-top: 60px;
  text-align: center;
}
.main-button {
  margin-top: 100px;
}
.main-button form {
  display: inline-block;
  text-align: center;
}
.main-alert {
  color: red;
  text-align: center;
}
.loginForm {
  width: 20%;
  margin-left: 30%;
}
.regForm {
  width: 20%;
  margin-right: 30%;
}
.main-button form button {
  font-size: 25px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: 0;
}
/***************** 인증 등록 페이지 ***************/
.infomationP {
  font-weight: 700;
}
.regIdlabel {
  display: block;
}
.regSecretlabel {
  display: block;
}
.regChatApiKeylabel {
  display: block;
}
#regInputClientId {
  width: 80%;
  display: inline-block;
}
#regInputClientSecret {
  width: 80%;
  display: inline-block;
}
#regInputChatApiKey {
  width: 80%;
  display: inline-block;
}
.regSmpChatManagerIdlabel {
  display: block;
}
#regInputSmpChatManagerId {
  width: 60%;
  display: inline-block;
}
#regListSmpChatManagerId {
  overflow-y: hidden;
  resize: none;
  white-space: nowrap;
  cursor: text;
}
.divSmpChatManagerList {
  width: 100%;
  display: inline-block;
  overflow-x: auto;
  cursor: default;
}

.divSmpChatManagerList::-webkit-scrollbar {
  width: 3px;
}
.divSmpChatManagerList::-webkit-scrollbar-track {
  background-color: transparent;
}
.divSmpChatManagerList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
.divSmpChatManagerList::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.checkBoxForm {
  text-align: center;
}
.copyButton {
  width: 18%;
  margin: 0 0 0 2%;
}

.addButton {
  width: 18%;
  margin: 0 0 0 2%;
}
.reMoveButton {
  width: 18%;
  margin: 0 0 0 2%;
}

.checkBoxForm label {
  width: 45px;
  text-align: center;
  margin: 0 10% 0 10%;
}
.checkBoxForm label input {
  margin: 0 auto;
  width: 20px;
}
.oauth-regapp-div {
  width: 50%;
  margin: 30px auto 60px auto;
}
.oauth-logo-div {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.oauth-h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 50px;
  cursor: default;
  width: 55%;
  text-align: center;
}
.oauthReg-button {
  margin-top: 30px;
}
.oauth-logo-div .form-group p {
  font-weight: 700;
}
.oauth-button-div {
  text-align: center;
}
.oauth-button-div {
  text-align: center;
}
.oauth-button-div {
  text-align: center;
}
.logoutForm {
  display: inline-block;
}
.oauth-logo-image {
  height: 180px;
  display: inline-block;
  cursor: pointer;
}
/********************** 로고 ***********************/
.logo-div {
  width: 35%;
  margin: 20px auto 0px auto;
}
.login-button-div {
  text-align: center;
}
.logo-image {
  height: 250px;
  margin: 40px auto 60px auto;
  display: block;
  cursor: pointer;
}
.login-button {
  display: inline-block;
  margin: 1%;
}

.login-oauth-button {
  display: inline-block;
  margin: 1%;
}
/********************** 탑바 *****************************/
.top-bar {
  height: 100px;
  background: #0062b3;
  position: relative;
}
/********************* 탑바 로고 **************************/
.navbar-logo-image {
  height: 100%;
  cursor: pointer;
}
.logo-image-div {
  position: absolute;
  cursor: pointer;
  right: 50%;
  top: 50%;
  height: 100%;
  transform: translate(50%, -50%);
}
/********************** 메뉴 버튼 ******************/
#nav-mainTab {
  background: #0062b3;
  margin-top: -1px;
}
#nav-mainTab li {
  position: relative;
}
#nav-mainTab li a {
  color: #fff;
  margin-bottom: 5px;
}
.navbar-circle-alram {
  position: absolute;
  top: -16px;
  right: -4px;
  height: 56px;
}
.navbar-number-alram {
  position: absolute;
  right: 11px;
  top: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
/******************** 가로바 ********************/

#nav-mainTab li.active div {
  position: absolute;
  background: #ffb836;
  width: 100%;
  height: 6px;
  transform: translate(0, -6px);
}
#nav-mainTab li a:focus {
  background: none;
}
#nav-mainTab li a:hover {
  background: none;
}
#nav-mainTab li:hover div {
  position: absolute;
  background: #ffb836;
  width: 100%;
  height: 6px;
  transform: translate(0, -6px);
}
/********************** 로그아웃버튼 ***********************/
.logout-button {
  cursor: pointer;
  transform: translate(54%, -50%);
}
.logout-button input {
  background: #ffb836;
  color: #fff;
  font-weight: 700;
}
/************ 로고 & 파비콘탭 ***************/
#logoTab div {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#logoTab div label {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#logoTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#logoTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#logoTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#logoTab div .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}

/************ 이미지탭 ***************/
#imageTab div {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#imageTab div label {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#imageTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#imageTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#imageTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
  max-width: 100px;
}
#imageTab div .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}

/************ 글내용탭 ***************/
/**** 메뉴 ****/
#contentTab .form-box {
  margin: 60px auto 15px auto;
  width: 88%;
  text-align: center;
}
#contentTab .form-box .form-group {
  width: 50%;
  display: inline-block;
}
#contentTab .form-box .form-group .btn {
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  color: #fff;
  background: #0062b3;
}
#contentTab .Input-box {
  width: 77%;
  display: inline-block;
}
#contentTab div label {
  margin-left: 4%;
  text-align: left;
  display: block;
}
/**** 타이틀 ***/
#contentTab .form-box .form-group .textAreaBtn {
  margin-bottom: 6%;
}
/************** 기타 탭 ***************/
#footerTab > .form-group {
  margin: 30px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#footerTab .footerLabel {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#footerTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#footerTab div p {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#footerTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#footerTab > .form-group > .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}
#footerTab > .form-box > .form-group > label {
  text-align: left;
  margin-left: 4%;
}

#footerTab .form-box {
  margin: 60px auto 15px auto;
  width: 88%;
  text-align: center;
}
#footerTab .form-box .form-group {
  width: 50%;
  display: inline-block;
}
#footerTab .form-box .form-group .btn {
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  color: #fff;
  background: #0062b3;
}
#footerTab .Input-box {
  width: 77%;
  display: inline-block;
}
#footerTab div label {
  display: block;
}
/**** 타이틀 ***/
#footerTab .form-box .form-group .textAreaBtn {
  margin-bottom: 6%;
}
/******************* 기능관리 탭 ********************/
#functionTab > .form-group {
  margin: 20px auto 15px auto;
  width: 85%;
  position: relative;
  height: 150px;
}
#functionTab .functionLabel {
  position: absolute;
  top: 25%;
  transform: translate(0, -25%);
}
#functionTab .uploadInput {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#functionTab .functionP {
  position: absolute;
  top: 75%;
  transform: translate(0, -75%);
}
#functionTab div img {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
  height: 100px;
}
#functionTab .radio-inline {
  margin: 0 0 3px 3% !important;
  display: inline-block;
  width: 13%;
  text-align: left;
}
#functionTab > .form-group > .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  background: #0062b3;
}
/**************** 채팅 기능 ***************/
#functionTab > .chat_form_group {
  height: 530px;
}
#functionTab > .form-group > .chatBox {
  height: 500px;
  width: 55%;
  background: #b0dbff;
  margin: 4% 0 5% 0;
  vertical-align: top;
  display: inline-block;
}
#functionTab > .form-group > .waitBox {
  height: 500px;
  width: 100%;
  background: #b0dbff;
  margin: 4% 0 5% 0;
  display: inline-block;
}
.waitBox > .waitTop {
  height: 50px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  background: #0062b3;
  margin: 10px 10px 0 10px;
}
.chatBox > .chatTop {
  height: 50px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  background: #0062b3;
  margin: 10px 10px 0 10px;
}

#functionTab > .form-group > .waitBox > .waitTop > .waitName {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.chatBox > .chatMiddle {
  line-height: 50px;
  background: #fff;
  overflow-y: auto;
  height: 350px;
  margin: 0px 10px 0 10px;
  clear: both;
}
.waitBox > .waitMiddle {
  line-height: 50px;
  background: #fff;
  overflow-y: auto;
  height: 350px;
  margin: 0px 10px 0 10px;
  clear: both;
}
.chatBox > .chatMiddle > .chatMe {
  margin: 1% 1% 2% 0;
  width: auto;
  max-width: 60%;
  text-align: justify;
  display: block;
  float: right;
  word-break: break-all;
  line-height: 1.7em;
  background: #0062b3;
  color: #fff;
  border-radius: 8px;
  padding: 3px 7px 3px 8px;
  clear: both;
}
.chatBox > .chatMiddle > .chatYou {
  margin: 0 0 2% 1%;
  width: auto;
  max-width: 60%;
  text-align: justify;
  display: block;
  float: left;
  word-break: break-all;
  line-height: 1.7em;
  background: #e2f0fc;
  color: #555;
  border-radius: 8px;
  padding: 3px 8px 3px 7px;
  clear: both;
}
.chatBox > .chatBottom {
  height: 80px;
  border-radius: 0 0 5px 5px;
  background: #0062b3;
  margin: 0px 10px 0 10px;
  position: relative;
}
#Input-chat {
  height: 60px;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
.Input-chat {
  height: 60px !important;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
#chatSendBtn {
  position: absolute;
  top: 50%;
  background: #ffb836;
  right: 10px;
  transform: translate(7px, -50%);
  color: #fff;
  font-weight: bold;
}
.chatSendBtn {
  position: absolute;
  top: 50%;
  background: #ffb836;
  right: 10px;
  transform: translate(7px, -50%);
  color: #fff;
  font-weight: bold;
}
.chatServerAlert {
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 2.1em;
  clear: both;
}
.waitList {
  background: #e2eefd;
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.waitUserList {
  color: #555;
  width: 65%;
  margin: 0 0 0 3%;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.waitConnect {
  display: inline-block;
  width: 14%;
  vertical-align: top;
  margin-top: 1%;
  padding: 3px 8px;
  background: #0062b3;
  color: #fff;
}
.waitDisconnect {
  display: inline-block;
  width: 14%;
  vertical-align: top;
  margin-top: 1%;
  padding: 3px 8px;
  background: #cc0600;
  color: #fff;
}
/************* qr코드 *************/
.form-group > .qrcodeBox {
  position: relative;
}
.form-group > .qrcodeBox > #qrcode img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/******************* 이미지 모달 ********************/
#viewImage_modal .modal-header {
  border-bottom: none;
}
#viewImage_modal .modal-footer {
  border-top: none;
}
#viewImage_modal .modal-body {
  height: 300px;
}
#viewImage_modal .modal-content {
  background-color: #f4f9fe;
}
#viewImage_modal .imgBox {
  width: 85%;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
#viewImage_modal #modalImg {
  max-width: 100%;
  max-height: 300px;
  min-height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
/************ 팝업 모달 **************/
#viewPopup_modal .modal-backdrop {
  background: none;
}
#viewPopup_modal .modal-dialog {
  width: 302px;
  margin: 30px 15px 15px 30px;
}
#viewPopup_modal .modal-body {
  padding: 0;
}
#viewPopup_modal .modal-header .close {
  margin-top: -8px;
}
#modalPopupImg {
  max-width: 300px;
  min-width: 300px;
  max-height: 400px;
  min-height: 400px;
}
/************ 채팅 모달 ***************/
.viewChatmodal {
  width: 380px;
  height: 530px;
  overflow-y: hidden !important;
}
.viewChatmodal .modal-dialog {
  width: 350px;
}
.viewChatmodal .chatTop {
  cursor: move;
}
.viewChatmodal .modal-content {
  background: #b0dbff;
  height: 500px;
}
.chatXbutton {
  opacity: 1;
}
.chatXSpan {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
}
.viewChatmodal
  > .modal-dialog
  > .modal-content
  > .chatBox
  > .chatTop
  > .chatName {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
/*************** 전체 타이틀 *****************/
.titleCss {
  height: 0 !important;
  margin: 30px auto 15px auto !important;
  width: 85% !important;
  position: none !important;
}
.titleCss h4 {
  display: inline-block;
  font-size: 16px;
  background: #ffb836;
  color: #fff;
  height: 25px;
  line-height: 27px;
  border-radius: 10px;
  width: 30%;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .oauth-h1 {
    font-size: 40px;
  }
  .oauth-logo-image {
    height: 180px;
  }
  .oauth-regapp-div {
    width: 60%;
  }
  .logo-div { 
    width:70%;
  }
  .logo-image {
    margin: 20px auto 40px auto;
  }

}
@media screen and (max-width: 1024px) {
  .oauth-h1 {
    font-size: 3rem;
  }
  .oauth-logo-image {
    height: 130px;
  }
  .oauth-regapp-div {
    width: 70%;
  }

  .logout-button {
    transform: translate(110%, -100%);
  }
  .regForm {
    width: 40%;
    margin-right: 10%;
  }
  .loginForm {
    width: 40%;
    margin-left: 10%;
  }
  .main-button form button {
    width: 80%;
    font-weight: 700;
    font-size: 16px;
  }
  .main-title h2 {
    font-size: 28px;
  }
  .logo-div { 
    width:80%;
  }
  .logo-image {
    margin: 10px auto 40px auto;
  }
}
@media screen and (max-width: 768px) {
  /************ 어플 등록페이지 *************/
  .form-control {
    width: 97%;
  }
  .oauth-regapp-div {
    width: 90%;
  }
  .oauth-logo-div {
    width: 30%;
  }
  #regInputClientId,
  #regInputClientSecret,
  #regInputChatApiKey {
    width: 70%;
  }
  #regInputSmpChatManagerId {
    width: 50%;
  }
  .addButton,
  .reMoveButton {
    width: 22%;
  }
  .copyButton {
    width: 25%;
  }
  .checkBoxForm label {
    width: 30%;
    margin: 0;
  }
  .oauth-h1 {
    width: 42%;
    font-size: 2rem;
    font-weight: 700;
  }
  .oauth-logo-image {
    height: 100px;
  }
  /************ 메뉴 *************/
  .logout-button {
    transform: translate(10%, -100%);
    font-size: 12px;
  }
  .logout-button input {
    font-size: 10px;
    padding: 3px 6px;
  }
  .top-bar {
    height: 50px;
  }
  #nav-mainTab li {
    float: left;
    width: 20%;
    margin-left: 0;
  }
  .regForm {
    width: 40%;
    margin-right: 10%;
  }
  .loginForm {
    width: 40%;
    margin-left: 10%;
  }
  .main-button form button {
    width: 80%;
    font-weight: 700;
    font-size: 16px;
  }
  .main-title h2 {
    font-size: 28px;
  }
  /************ 메뉴 가로바 **************/
  #nav-mainTab li a {
    margin-bottom: 4px;
  }
  #nav-mainTab li.active div {
    height: 4px;
    transform: translate(0, -4px);
  }
  #nav-mainTab li a {
    padding: 10px 0;
    font-size: 12px;
  }

  /********** 로고 & 파비콘 ***********/
  #logoTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
  }
  #imageTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  /************ 글내용탭 ***************/
  #contentTab .form-box .form-group {
    width: 100%;
    display: block;
  }
  #contentTab .form-box .form-group .btn {
    margin-left: 4%;
    margin-right: 0%;
  }
  #contentTab .Input-box {
    width: 78%;
  }
  /*********** 푸터 탭 ***************/
  #footerTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  #footerTab .form-box .form-group {
    width: 100%;
    display: block;
  }
  #footerTab .form-box .form-group .btn {
    margin-left: 4%;
    margin-right: 0%;
  }
  #footerTab .Input-box {
    width: 78%;
  }
  /************* 기능관리 탭 ***************/
  #functionTab div img {
    right: 25%;
    transform: translate(-25%, -50%);
    height: 30px;
    max-width: 40px;
  }
  #functionTab .radio-inline {
    margin: 0px -17% 5px 22% !important;
    display: inline-block;
    width: 27%;
    text-align: center;
  }

  /************ 이미지 모달 ************/
  #viewImage_modal .modal-body {
    height: 200px;
  }
  #viewImage_modal .imgBox {
    height: 200px;
  }
  #viewImage_modal #modalImg {
    max-height: 200px;
    min-height: 100px;
  }
  /********** 전체 타이틀 **********/
  .titleCss h4 {
    width: 100%;
  }
  .logo-div { 
    width:90%;
  }
  .logo-image {
    margin: 0 auto 20px auto;
  }
}
