extends ../layout
block content
  .logo-div
    a(href='/')
      img.logo-image(src='/public/image/logo.png')
  .main-title
    h2 SMP oauth2.0 서버 

  .main-button
    form.loginForm(action="/login", method='get')
      button.btn.btn-default(type='submit') 로그인
    
    form.regForm(action="/register", method='get')
      button.btn.btn-default(type='submit') 회원가입


  block contents